<!DOCTYPE html>
<html>
<head>
  <meta name="charset" content="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<form method="post" id="bindform" action="/bindaccount">
  <p>
    <div id="">
      用户ID:
    </div>
    <div>
      <input type="text" name="username" value="" />
    </div>
  </p>
  <p>
    <div>
      密码:
    </div>
    <div>
      <input type="password" name="password" value="" />
    </div>
  </p>
  <p>
    <div>
      验证码:<input type="text" name="code" size="3" maxlength="4" value="" /><img src="" class="" alt="" />
    </div> 
  </p>
  <p>
    <input type="submit" name="submit" value="Bind" />
  </p> 
</form>
</body>
</html>
